/*
GENERAL SETTING
*/
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    height: 100vh;
    border: 3px solid red;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.row_slide{
    width: 900px;
    height: 450px;
    position: relative;
}

.col_slide{
    height: 100%;
    display: none;
}

.col_slide.active{
    display: block;
}

.col_slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.button_prev, .button_next{
    position: absolute;
    width: 35px;
    height: 35px;
    text-align: center;
    left: 50%;
    background-color: white;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
    margin: 5px 0;
    text-align: center;
    padding-top: 9px;
}

.button_next{
    bottom: 0;
}

.button_prev{
    top: 0;
}

.controls{
    height: 450px;
    position: relative; 
    background-color: red;
}

.control{
    height: calc(450px / 5);
    opacity: 0.5;
}

.control.active{
    opacity: 1;
    border: 2px solid #ccc;
}

.control img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}